<div class="row">
  <form #hotelForm="ngForm" class="col s12" >
    <div class="row" >
      <div class="input-field col s4">
        <a class='dropdown-button btn' data-activates='dropdown1'  data-hover=true data-beloworigin="true"><span id="hotel_name_dropdown">Select Hotel!</span></a>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <label for="contract_valid_to">Valid From</label>
        <div class="input-field">
          <input id="contract_valid_from" type="date" class="datepicker validate" [(ngModel)]="contract.validFrom" name = "valid_from">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <label for="contract_valid_to">Valid To</label>
        <div class="input-field">
          <input id="contract_valid_to" type="date" class="datepicker validate" [(ngModel)]="contract.validTo" name = "valid_to">
        </div>

      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="markup" type="text" class="validate" [(ngModel)]="contract.markup" name="markup">
        <label for="markup">Mark Up</label>
      </div>
    </div>

    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
      <li *ngFor="let element of hotel" (click)= "dropDownSelect(element);"><a>{{element.hotelName}}</a></li>
    </ul>

    <a class="waves-effect waves-light btn" (click)= "addContracts(contract); hotelForm.reset()">Add Contract</a>
  </form>
</div>

